#board {
  height: 620px;
  width: 620px;
  margin: 0 auto;
}

h1 {
  color: #F0F0F0;
  font-family: Helvetica;
  text-align: center;
  padding-top: 15px;
}

.square {
  width: 135px;
  height: 135px;
  background-color: pink;
  border-color: black;
  border: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  background-color: black;
}

.daydream {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrDaydream.gif");
}
