#board {
  height: 620px;
  width: 620px;
  margin: 0 auto;
}

/*#score-button {
  width: 100px;
  height: 100px;
}*/

h1 {
  color: #F0F0F0;
  font-family: Helvetica;
  text-align: center;
  padding-top: 15px;
}

.square {
  width: 135px;
  height: 135px;
  background-color: pink;
  border-color: black;
  border: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  background-color: black;
}

.daydream {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrDaydream.gif");
}

.grumpy {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrGrumpy.gif");
}

.happy {
  background-image: url("http://img4.wikia.nocookie.net/__cb20110529083727/annoyingorangefanon/images/1/11/00MrHappy00.gif");
}

.messy {
  background-image: url("http://img2.wikia.nocookie.net/__cb20130809182756/poohadventures/images/e/e3/Mr._Messy.gif");
}

.slow {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrSlow.gif");
}

.cheerful {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrCheerful.gif");
}

.bump {
  background-image: url("http://4.bp.blogspot.com/_pcxu_Zk3B6w/S4kZM_YZmQI/AAAAAAAAABk/v4u-pzpYRkE/s200/mr_bump.gif");
}

.cool {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrCool.gif");
}

.wrong {
  background-image: url("http://vignette2.wikia.nocookie.net/mrmen/images/c/ce/Mr.Wrong.gif/revision/latest?cb=20090713110933");
}

.topsyturvey {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrTopsy-Turvy.gif");
}

.strong {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrStrong.gif");
}

.missbossy {
  background-image: url("http://img3.wikia.nocookie.net/__cb20100501144027/mrmen/images/c/c4/MissBossy.gif");
}

.daydream2 {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrDaydream.gif");
}

.grumpy2 {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrGrumpy.gif");
}

.happy2 {
  background-image: url("http://img4.wikia.nocookie.net/__cb20110529083727/annoyingorangefanon/images/1/11/00MrHappy00.gif");
}

.messy2 {
  background-image: url("http://img2.wikia.nocookie.net/__cb20130809182756/poohadventures/images/e/e3/Mr._Messy.gif");
}

.slow2 {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrSlow.gif");
}

.cheerful2 {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrCheerful.gif");
}

.bump2 {
  background-image: url("http://4.bp.blogspot.com/_pcxu_Zk3B6w/S4kZM_YZmQI/AAAAAAAAABk/v4u-pzpYRkE/s200/mr_bump.gif");
}

.cool2 {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrCool.gif");
}

.wrong2 {
  background-image: url("http://vignette2.wikia.nocookie.net/mrmen/images/c/ce/Mr.Wrong.gif/revision/latest?cb=20090713110933");
}

.topsyturvey2 {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrTopsy-Turvy.gif");
}

.strong2 {
  background-image: url("http://www.weirdspace.dk/RogerHargreaves/Graphics/MrStrong.gif");
}

.missbossy2 {
  background-image: url("http://img3.wikia.nocookie.net/__cb20100501144027/mrmen/images/c/c4/MissBossy.gif");
}
